<br>
<section id="about">
    <div class="container">
        <h2>About Task Management</h2>
        <p>To create, update, delete a task with title, description, story points and task id. It has multiple status for each task to move from one status to another status.</p>
    </div>

    <div class="container">
        <div class="flex-container">
            <div class="flex-item">Open</div>
            <div class="flex-item">In-Progress</div>
            <div class="flex-item">Moved to Dev Environment</div>
            <div class="flex-item">Moved to QA Environment</div>
            <div class="flex-item">Re-Open</div>
            <div class="flex-item">Moved to PROD Environment</div>
            <div class="flex-item">Done</div>
        </div>
    </div> 
</section>