<body>
    <header>
        <nav>
            <ul>
                <li [ngClass]="isAboutActive ? 'active' : 'not-active'" (click)="onActive('About')"><a routerLink="/about">About</a></li>
                <li [ngClass]="isTaskActive ? 'active' : 'not-active'" (click)="onActive('Task')"><a routerLink="/tasks">Task</a></li>
            </ul>
        </nav>
    </header>
    <br>
    <router-outlet></router-outlet>
    <footer>
        <div class="container">
          <p>&copy; 2024 Task Management App. All rights reserved.</p>
        </div>
    </footer>
</body>
