<main>
    <section id="task">
        <div class="container">
            <h2>Task Management</h2>
            <button id="addTaskBtn" type="button" class="btn btn-sm btn-success mb-2" (click)="onAddTaskOpenDialog()">Add Task</button>
            <br>
            <ng-container *ngIf="isTaskDialog">
                <app-task-dialog [listOfTask]="listOfTask" [taskObj]="taskObj" [buttonText]="buttonText"></app-task-dialog>
            </ng-container>

            <ng-container *ngIf="isConfirmDialog">
                <app-confirm-dialog [dialogTitle]="dialogTitle" [buttonText]="buttonText" [taskObj]="taskObj" [listOfTask]="listOfTask" [completedTask]="completedTask" (completedTaskList)="completedTask=$event"></app-confirm-dialog>
            </ng-container>
            <br>

            <!-- Task Management List -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mark As Completed</th>
                        <th>Task ID</th>
                        <th>Title</th>
                        <th>Story Points</th>
                        <th colspan="2">Actions</th>
                      </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let task of listOfTask;">
                        <tr>
                            <td>
                                <form [formGroup]="markForm">
                                    <div class="form-group form-check">
                                        <input type="checkbox" [value]="task.id" formControlName="markAsCompleted" id="markAsCompleted" class="form-check-input" (click)="onMarkAsCompleted(task, 'Mark', $event)"/>
                                    </div>
                                </form>
                            </td>
                            <td>{{ task.id }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.storyPoints }}</td>
                            <td style="white-space: nowrap"><button type="button" class="btn btn-sm btn-primary mr-1" (click)="onEditTask(task, 'Update')">Edit</button>&nbsp;
                            <button type="button" class="btn btn-sm btn-danger btn-delete-user" (click)="onDeleteTask(task, 'Confirm')">Delete</button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <br>

            <!-- Completed Task List -->
            <ng-container *ngIf="completedTask && completedTask.length > 0">
                <h2>Completed Tasks</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Task ID</th>
                            <th>Title</th>
                            <th>Story Points</th>
                          </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let task of completedTask;">
                            <tr>
                                <td>{{ task.id }}</td>
                                <td>{{ task.title }}</td>
                                <td>{{ task.storyPoints }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </section>
</main>